.divider-wrapper {
    margin: 5px 8px;
    display: flex;
    align-items: center;
}

.divider-name {
    color: #CED5E0;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
}

.divider {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #CED5E0;
}