* {
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-bottom: 5px;
    background: white;
    margin-top: 10px;
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 16px
}

.header__img {
    margin: 0;
    width: 12px;
    height: 12px;
}

.header__name {
    font-size: 12px;
    color: #83888F;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

img {
    flex: 0 0 auto;
    margin-right: 20px;
}

hr {
    margin: 5px 10px;
    background-color: #CED5E0;
}